<div class="container">
  <h4><%= @internship.subject %></h4>
  <hr/>
  <h5>Description</h5>
  <p><%= @internship.description %></p>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h3 class="panel-title">Stage</h3>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Semestre</dt>
            <dd><%= @internship.semester %><%= @internship.year %></dd>
            <dt>Niveau</dt>
            <dd><%= @internship.level_abbreviation %></dd>
            <dt>Spécialité</dt>
            <dd><%= @internship.branch_abbreviation %></dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h3 class="panel-title">Entreprise</h3>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Entreprise</dt>
            <dd><%= @internship.company %></dd>
            <dt>Adresse</dt>
            <dd><%= @internship.address %></dd>
          </dl>
        </div>
      </div>
    </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading text-center">
            <h3 class="panel-title">Contacts</h3>
          </div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              <dt>Étudiant</dt>
              <dd><%= @internship.student %></dd>
              <dt>Suiveur</dt>
              <dd><%= @internship.teacher %></dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>