<!-- Analytics. -->
<div class="row">
  <div class="col-md-offset-3 col-md-8">
    <h4>Analyses sur les stages
      <a href="/analytics" class="btn <%= current_page?(controller: 'analytics', action: 'index') ? 'btn-primary' : 'btn-default' %>">Nombre de stages</a>
      <a href="/analytics/top-companies" class="btn <%= current_page?(controller: 'analytics', action: 'top_companies') ? 'btn-primary' : 'btn-default' %>">Top entreprises</a>
    </h4>
    <hr/>
  </div>
</div>
<div>
  <div class="col-md-3 well">
    <b>Critères de recherche de stages</b>
    <%= form_tag(current_page?(controller: 'analytics', action: 'index') ? '/analytics/count-by-semester-request' : '/analytics/top-companies-request', method: "get", class: "form-horizontal", id: "analytics-form") do %>
        <div class="form-group">
          <%= label_tag(:from_semester, "De", class: "col-sm-2 control-label") %>
          <div class="col-sm-10">
            <%= select_tag(:from_semester, options_for_select(@all_semesters, params[:from_semester]), class: "form-control") %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag(:to_semester, "À", class: "col-sm-2 control-label") %>
          <div class="col-sm-10">
            <%= select_tag(:to_semester, options_for_select(@all_semesters, params[:to_semester]), class: "form-control") %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag(:internship_type, "Stages", class: "col-sm-2 control-label") %>
          <div class="col-sm-10">
            <%= select_tag(:internship_type, options_for_select(@all_levels, params[:internship_type]), class: "form-control", include_blank: "Tous") %>
          </div>
        </div>
        <div id="branch-type-filter" class="form-group">
          <%= label_tag(:branch_like, "Branche", class: "col-sm-2 control-label") %>
          <div class="col-sm-10">
            <%= select_tag(:branch_like, options_for_select(@all_branches, params[:branch_like]), class: "form-control", include_blank: "Toutes") %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag(:country_like, "Pays", class: "col-sm-2 control-label") %>
          <div class="col-sm-10">
            <%= select_tag(:country_like, options_for_select(@all_countries, params[:country_like]), class: "form-control", include_blank: "Tous") %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag(:city_like, "Ville", class: "col-sm-2 control-label") %>
          <div class="col-sm-10">
            <%= select_tag(:city_like, grouped_options_for_select(@all_cities_grouped_by_countries, params[:city_like]), class: "form-control", include_blank: "Toutes") %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag(:company_like, "Entreprise", class: "col-sm-2 control-label") %>
          <div class="col-sm-10">
            <%= text_field_tag(:company_like, params[:company_like], placeholder: "Entreprise", class: "form-control", "data-provide" => "typeahead", "typeahead-search" => "company", autocomplete: "off") %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                <%= check_box_tag(:confidential_only, "true", params[:confidential_only].present?) %> Stages confidentiels uniquement
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                <%= check_box_tag(:include_not_done, "true", params[:include_not_done].present?) %> Inclure sujets n'ayant pas donné lieu à un stage
              </label>
            </div>
          </div>
        </div>
        <!-- TODO : Add filiere field -->
        <button type="submit" class="col-sm-12 btn btn-success">Rechercher</button>
    <% end %>
  </div>
  <div class="col-md-9">
    <% if current_page?(controller: 'analytics', action: 'index') %>
        <div id="count-per-semester"/>
    <% elsif current_page?(controller: 'analytics', action: 'top_companies') %>
        <div id="top-companies" style="height: 700px"/>
    <% end %>
  </div>
</div>

<script type="application/javascript">

    $(document).ready(function() {
        categoriesFromData = function ($data) {
            $categories = [];
            Object.keys($data).forEach(function(c) {
                $categories.push(c);
            });

            return $categories;
        };

        seriesFromData = function ($data) {
            $countBySeries = [];
            $series = {};

            Object.keys($data).forEach(function(category) {
                Object.keys($data[category]).forEach(function(seriesName) {
                    if (!$series.hasOwnProperty(seriesName)) {
                        $countBySeries.push({
                            "name": seriesName,
                            "data": []
                        });

                        $series[seriesName] = $countBySeries[$countBySeries.length - 1]["data"];
                    }
                });
            });

            // Adding data for each branch for each semester
            Object.keys($data).forEach(function(category) {
                Object.keys($series).forEach(function(seriesName) {
                    if (seriesName in $data[category]) {
                        $series[seriesName].push($data[category][seriesName]);
                    }
                    else {
                        $series[seriesName].push(0);
                    }
                });
            });

            return $countBySeries;
        };

        $('input[data-provide="typeahead"]').each(function() {
            var $this = $(this);

            $this.typeahead({
                autoSelect: false,
                minLength: 1,
                source: function (query, process) {
                    return $.get('/internships/search?search_by=' + $this.attr("typeahead-search") + '&q=' + query, function (data) {
                        return process(data);
                    });
                }
            });
        });

        <% if current_page?(controller: 'analytics', action: 'index') %>
            $data_internships = <%= @data_internships.to_json.html_safe %>;
            chartCountPerSemester($data_internships);
        <% elsif current_page?(controller: 'analytics', action: 'top_companies') %>
            $companies_data = <%= @top_companies.to_json.html_safe %>;
            $top_companies_total_count = <%= @top_companies_total_count.to_json.html_safe %>;
            chartTopCompanies($companies_data, $top_companies_total_count);
        <% end %>


        $("#analytics-form").on("submit", function(event) {
            event.preventDefault();
            $.ajax({
                type: $(this).attr("method"),
                url: $(this).attr("action"),
                data: $(this).serialize(),
                success: function(data) {
                    <% if current_page?(controller: 'analytics', action: 'index') %>
                        $data_internships = data.data_internships;
                        console.debug(data.data_internships);
                        chartCountPerSemester($data_internships);
                    <% elsif current_page?(controller: 'analytics', action: 'top_companies') %>
                        $companies_data = data.top_companies;
                        $top_companies_total_count = data.top_companies_total_count;
                        chartTopCompanies($companies_data, $top_companies_total_count);
                    <% end %>
                }
            });
        });
    });

</script>