<!-- Analytics. -->
<div class="row">
  <div class="col-md-3 well">
    <b>Critères de recherche de stages</b>
    <%= form_tag("analytics", method: "get", class: "form-horizontal") do %>
        <div class="form-group">
          <%= label_tag(:from_semester, "De", class: "col-sm-2 control-label") %>
          <div class="col-sm-10">
            <%= select_tag(:from_semester, options_for_select(@all_semesters, params[:from_semester]), class: "form-control") %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag(:to_semester, "À", class: "col-sm-2 control-label") %>
          <div class="col-sm-10">
            <%= select_tag(:to_semester, options_for_select(@all_semesters, params[:to_semester]), class: "form-control") %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag(:internship_type, "Stages", class: "col-sm-2 control-label") %>
          <div class="col-sm-10">
            <%= select_tag(:internship_type, options_for_select(@internship_types, params[:internship_type]), class: "form-control", id: "internship-type-filter", include_blank: "Tous") %>
          </div>
        </div>
        <div id="branch-type-filter" class="form-group">
          <%= label_tag(:branch_like, "Branche", class: "col-sm-2 control-label") %>
          <div class="col-sm-10">
            <%= select_tag(:branch_like, options_for_select(@all_branches, params[:branch_like]), class: "form-control", id: "internship-type-filter", include_blank: "Toutes") %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag(:country_like, "Pays", class: "col-sm-2 control-label") %>
          <div class="col-sm-10">
            <%= select_tag(:country_like, options_for_select(@all_countries, params[:country_like]), class: "form-control", include_blank: "Tous") %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag(:city_like, "Ville", class: "col-sm-2 control-label") %>
          <div class="col-sm-10">
            <%= select_tag(:city_like, grouped_options_for_select(@all_cities_grouped_by_countries, params[:city_like]), class: "form-control", include_blank: "Toutes") %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag(:company_like, "Entreprise", class: "col-sm-2 control-label") %>
          <div class="col-sm-10">
            <%= text_field_tag(:company_like, params[:company_like], placeholder: "Entreprise", class: "form-control", "data-provide" => "typeahead", "typeahead-search" => "company", autocomplete: "off") %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                <%= check_box_tag(:confidential_only, "true", params[:confidential_only].present?) %> Stages confidentiels uniquement
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                <%= check_box_tag(:include_not_done, "true", params[:include_not_done].present?) %> Inclure sujets n'ayant pas donné lieu à un stage
              </label>
            </div>
          </div>
        </div>
        <!-- TODO : Add filiere field -->
        <button type="submit" class="col-sm-12 btn btn-success">Rechercher</button>
    <% end %>
  </div>
  <div class="col-md-9">
    <h4>Analyses sur les stages</h4>
    <p>Utilisez le formulaire à votre gauche pour afficher le nombre de stages par semestre par branche, en fonction de divers critères.
      <br/>En cliquant sur "Rechercher", le graphique ci-dessous se mettra à jour avec les nouveaux critères sélectionnés.
    </p>
    <div id="number-per-semester"/>
  </div>
  <div id="container"/>
</div>

<script type="application/javascript">
    $(document).ready(function() {
        $internship_data = <%= @data_internships.to_json.html_safe %>;
        $companies_data = <%= @top_companies.to_json.html_safe %>;
        $top_companies_total_count = <%= @top_companies_total_count.to_json.html_safe %>;

        categoriesFromData = function ($data) {
            $categories = [];
            Object.keys($data).forEach(function(c) {
                $categories.push(c);
            });

            return $categories;
        };

        seriesFromData = function ($data) {
            $countBySeries = [];
            $series = {};

            Object.keys($data).forEach(function(category) {
                Object.keys($data[category]).forEach(function(seriesName) {
                    if (!$series.hasOwnProperty(seriesName)) {
                        $countBySeries.push({
                            "name": seriesName,
                            "data": []
                        });

                        $series[seriesName] = $countBySeries[$countBySeries.length - 1]["data"];
                    }
                });
            });

            // Adding data for each branch for each semester
            Object.keys($data).forEach(function(category) {
                Object.keys($series).forEach(function(seriesName) {
                    if (seriesName in $data[category]) {
                        $series[seriesName].push($data[category][seriesName]);
                    }
                    else {
                        $series[seriesName].push(0);
                    }
                });
            });

            return $countBySeries;
        };

        hideSeries = function($series) {
            for (i = 1; i < $series.length; i++) {
                s = $series[i];
                s["visible"] = false;
            }

            return $series;
        };

        formatTopCompaniesSeries = function($series) {
            for (i = 0; i < $series.length; i++) {
                s = $series[i];
                s.total = $top_companies_total_count[s.name];
                s.name += " (" + s.total + ")";
            }

            return hideSeries($series.sort(function(a,b) { return b.total - a.total }));
        };

        $('#number-per-semester').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Nombre de stages par branche par semestre'
            },
            xAxis: {
                categories: categoriesFromData($internship_data)
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Nombre total de stages'
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
            legend: {
                align: 'right',
                x: -30,
                verticalAlign: 'top',
                y: 25,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.x + '</b><br/>' +
                            this.series.name + ': ' + this.y + '<br/>' +
                            'Total: ' + this.point.stackTotal;
                }
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                        style: {
                            textShadow: '0 0 3px black'
                        }
                    }
                }
            },
            series: seriesFromData($internship_data)
        });

         $('input[data-provide="typeahead"]').each(function() {
             var $this = $(this);

             $this.typeahead({
                 autoSelect: false,
                 minLength: 1,
                 source: function (query, process) {
                     return $.get('internships/search?search_by=' + $this.attr("typeahead-search") + '&q=' + query, function (data) {
                        return process(data);
                    });
                 }
             });
         });

        $('#container').highcharts({
            title: {
                text: 'Nombre de stages par entreprise par semestre',
                x: -20 //center
            },
            xAxis: {
                categories: categoriesFromData($companies_data)
            },
            yAxis: {
                title: {
                    text: 'Nombre de stages'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }],
                min: 0,
                allowDecimals: false
            },
            tooltip: {
                valueSuffix: ' stages'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: formatTopCompaniesSeries(seriesFromData($companies_data))
        });
    });

</script>

